/* COMP 484 Project 1
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.5;
  background: #ffffff;
  color: #111111;
}

header, main, footer {
  width: 92%;
  max-width: 900px;
  margin: 0 auto;
}

header {
  padding: 1rem 0 0.5rem 0;
  border-bottom: 1px solid #cccccc;
}

main {
  padding: 1rem 0;
}

footer {
  padding: 1rem 0 2rem 0;
  border-top: 1px solid #cccccc;
  margin-top: 1rem;
}

nav ul {
  padding-left: 1.2rem;
}

nav li {
  margin: 0.2rem 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 0.5rem;
  border: 1px solid #dddddd;
}

.note {
  font-size: 0.95rem;
  color: #333333;
}

kbd {
  font-family: "Courier New", Courier, monospace;
  padding: 0 0.25rem;
  border: 1px solid #cccccc;
}

samp {
  font-family: "Courier New", Courier, monospace;
}
